<div class="container" style="margin-top:1rem">
  <h1>
    Select a Gift &nbsp;
    <small><small class="text-muted">Click on an item to see details</small></small>
  </h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">

        <div class="card" style="width: 256px;">
          <img src="assets/img/crossbow.png" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">A Fucking Automatic Crossbow</h5>
            <p class="card-text">Yeah, it's a war crime.</p>
          </div>
        </div>

      </div>
      <div class="col-sm-4">
        
      </div>
    </div>
  </div>

</div>